.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 100%;
  background-color: #f4f4f4;
  justify-content: left;
}

.sidebarItem {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.customHr {
  border: none;
  height: 2px;
  background-color: #D0D0D0;
  width: 50%;
}

.sidebarLink {
  margin-left: 0.5rem;
}

.bottomSection {
  margin-top: 25rem;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  padding-left: 3rem;
}
