.checklistItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checklistItem+.checklistItem {
  margin-top: 0;
}

.checkboxContainer {
  margin-right: 0.75em;
}

.checkboxContent {
  flex: 1;
}

.checkboxContentChecked {
  opacity: 0.666;
  text-decoration: line-through;
}

.checkboxContentUnchecked {
  opacity: 1;
  text-decoration: none;
}

.checkboxContent:focus {
  outline: none;
}
