.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7.5rem;
  padding-left: 4.3rem;
  padding-right: 4.3rem;
}

.rightPartition {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftPartition {
  display: flex;
  flex-direction: row;
  align-items: center;
}
