.listcard-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  height: 4rem;
  padding: 1rem;
  width: 80%;
  align-items: center;
  border-radius: 25px;
}

.listcard-container:hover {
  cursor: pointer;
  background-color: #bdbdbd;
  transition: background 0.5s ease-in-out;
}

.list-name {
  margin: 0;
  margin-bottom: 1rem;
}

.author {
  margin: 0;
  text-align: center;
}
