.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.big-landing-header {
  max-width: 40%;
  text-align: center;
  font-weight: bold;
}

.small-landing-header {
  max-width: 75%;
  text-align: center;
  font-weight: bold;
}

.btn-row {
  display: flex;
}

.btn-col {
  display: grid;
}
