.largeContainer {
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-items: left;
  margin-right: 15rem;
  margin-left: 15rem;
  margin-top: 2rem;
}

.container {
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-items: left;
  margin-right: 64px;
  margin-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.outputContainer {
  border-top: 1px solid #D0D0D0;
  justify-content: center;
  display: flex;
}
